<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="scit.master.planbe.dao.Taskmapper">
<!-- 업무 생성하기 -->
<insert id="Insert" parameterType="map">
    insert into task values(
   	 #{projectno}
    ,(select distinct m.memberno from project p join member m on p.projectno=m.projectno join users u on m.userno=u.userno where m.projectno =#{projectno} and m.userno=#{userno})
    ,TASK_SEQ.nextval
    ,#{taskname}
    ,#{taskcontent}
    ,#{taskpriority}
    ,#{taskstatus}
    ,#{taskstartdate}
    ,#{taskduedate}
    ,#{totaltime}
    ,#{donetime})
</insert>

<!-- 업무 리스트 출력하기 -->
<select id="getList" parameterType="map" resultType="TaskVO">

	select * from task	
	
	<choose>
		 
	 <when test="searchtype == 'title'">
	 
	 	t join member m on t.memberno=m.memberno 
					join users u on m.userno = u.userno
						and u.userno=#{userno} 
							and taskname LIKE '%'||#{searchword}||'%'
	 
	 </when>
	  <when test="searchtype == 'startdate'">
	  
	  	t join member m on t.memberno=m.memberno 
					join users u on m.userno = u.userno
						and u.userno=#{userno} 
	  						and startdate LIKE '%'||#{searchword}||'%'
	 </when>
	  <when test="searchtype == 'deudate'">
	  	
	  	t join member m on t.memberno=m.memberno 
					join users u on m.userno = u.userno
						and u.userno=#{userno} 
	  						 duedate LIKE '%'||#{searchword}||'%'
	 </when>
	   <when test="target == 'good'">
	   
	   	t join member m on t.memberno=m.memberno 
					join users u on m.userno = u.userno
						and u.userno=#{userno} 
	 						and taskpriority LIKE '%'||#{target}||'%'
	 </when>
	   <when test="target == 'urgent'">
	   
	   	t join member m on t.memberno=m.memberno 
					join users u on m.userno = u.userno
						and u.userno=#{userno} 
	   						and taskpriority LIKE '%'||#{target}||'%'
	 </when>
	   <when test="target == 'disaster'">
	   
	   	t join member m on t.memberno=m.memberno 
					join users u on m.userno = u.userno
						and u.userno=#{userno} 
	   						and taskpriority LIKE '%'||#{target}||'%'
	 </when>
	  <when test="userno != null">
	 	 t join member m on t.memberno=m.memberno 
					join users u on m.userno = u.userno
						and u.userno=#{userno}
	 </when>
	 
		 
	</choose>
   	
   	
	order by taskno asc
	
</select>

<!-- 업무 검색하기 -->
<select id="findTask" parameterType="TaskVO" resultType="TaskVO">
	select projectno,memberno,taskno,taskname,taskcontent,taskpriority,taskStatus,
				to_char(startdate,'yyyy-mm-dd')startdate,to_char(duedate,'yyyy-mm-dd')duedate
				,totaltime,donetime
	 from task where taskno=#{taskNo}
</select>

<!-- 업무 수정하기 -->
<update id="updateTask" parameterType="TaskVO">
	update task
	set taskname=#{taskName}
	,taskcontent=#{taskContent}
	,taskpriority=#{taskPriority}
	,taskStatus=#{taskStatus}
	,startdate=#{startDate}
	,duedate=#{dueDate}
	,totaltime=#{totalTime}
	,donetime=#{doneTime}
	where taskno=#{taskNo}
</update>

<!-- 업무 삭제하기 -->

<delete id="deleteTask" parameterType="TaskVO">
	delete from task where taskno=#{taskNo}
</delete>

<!-- 총 페이지 레코드 가져오기 -->

<select id="getTotalCount" parameterType="map" resultType="int">
	select count(*) from task
		<choose>
			<when test="searchtype=='title'">
			
				t join member m on t.memberno=m.memberno 
					join users u on m.userno = u.userno
						and u.userno=#{userno}
							and taskname like '%'||#{searchword}||'%'
			</when>
			<when test="searchtype=='startdate'">
			
				t join member m on t.memberno=m.memberno 
					join users u on m.userno = u.userno
						and u.userno=#{userno}
							and taskstartdate == #{searchword}
			</when>
			<when test="searchtype=='duedate'">
			
				t join member m on t.memberno=m.memberno 
					join users u on m.userno = u.userno
						and u.userno=#{userno}
							and duedate like '%'||#{searchword}||'%'
			</when>
			 <when test="target == 'good'">
			 
			 	t join member m on t.memberno=m.memberno 
					join users u on m.userno = u.userno
						and u.userno=#{userno}
			 				and taskpriority LIKE '%'||#{target}||'%'
	 		</when>
	  		 <when test="target == 'urgent'">
	  		 
	  		 	t join member m on t.memberno=m.memberno 
					join users u on m.userno = u.userno
						and u.userno=#{userno}
	  		 				and taskpriority LIKE '%'||#{target}||'%'
	 		</when>
	   		 <when test="target == 'disaster'">
	   		 
	   		 	t join member m on t.memberno=m.memberno 
					join users u on m.userno = u.userno
						and u.userno=#{userno}
	   		 				and taskpriority LIKE '%'||#{target}||'%'
	 		</when>
	 		 <when test="userno != null">
	 	 		t join member m on t.memberno=m.memberno 
					join users u on m.userno = u.userno
						and u.userno=#{userno}
	 		</when>
		</choose>	
</select>

<!-- 진행상태에서 업무 검색하기 -->
<select id="searchTask" parameterType="map" resultType="TaskVO">
	select * from task
				
				t join member m on t.memberno=m.memberno 
					join users u on m.userno = u.userno
						and u.userno=#{userno}
						 and t.taskNo=#{taskno}
		
		
		order by taskno asc

</select>

<!-- 전체 리스트(페이지 수와 상관없이) 가져오기 -->

<select id="getTotalList" parameterType="map" resultType="TaskVO">

	select * from task t join member m on t.memberno=m.memberno 
			      join users u on m.userno = u.userno
					and u.userno=#{userno}
					  order by t.taskno asc

</select>





	
</mapper>



